<div class="row">
  <div class="col-md-3" ></div>
  <div class="col-md-6 accept-block">
    <div class="accept-info">
      <h1 style="text-align: center">Заказ отправлен!</h1>
      <p>Спасибо, что оформили заказ! Наш представитель обязательно свяжется с Вами в ближайшее время. <br><br><br> Если у Вас возникли вопросы, то можете позвонить по номеру
      8-800-555-35-35 или написать письмо по адресу support@hyperset.ru</p>
      <button class="my_button" style="margin-top: 60px"> Вернуться назад </button>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

<%= link_to 'Назад', edit_order_path(@order) %>

